<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
        <title>ColaRadio Dashboard</title>
        <link href="{{ app.asset_path }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.asset_path }}/css/main.css" rel="stylesheet">
    {% endblock %}
    {% block body_styles %}{% endblock %}
</head>
<body>
{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ColaRadio!</a>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    {% block main %}
        <div class="main">
            {% block well %}<div class="well well-sm">Welcome and stuff!</div>{% endblock %}
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    {% block login %}{% endblock %}
</div>

<script src="{{ app.asset_path }}/js/jquery-2.1.3.min.js"></script>
<script src="{{ app.asset_path }}/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ app.asset_path }}/js/jquery.sortable.min.js"></script>
<script src="{{ app.asset_path }}/js/cola.js"></script>

{% block body_scripts %}{% endblock %}
</body>
</html>