{% macro item(name,href,active,icon) %}
<li class="{% if active|lower == name|lower %} active {% endif %}">
    <a href="{{ href }}">{% if icon %}<span class="glyphicon {{ icon }}"> {% endif %}{{ name|capitalize }}</a>
</li>
{% endmacro %}
{% import _self as nav %}
<ul class="nav nav-sidebar">
    {{ nav.item('overview','/',active,'glyphicon-dashboard') }}
    {{ nav.item('Stores','stores',active,'glyphicon-cog') }}
    {{ nav.item('Statistics','statistics',active,'glyphicon-stats') }}
    {{ nav.item('Logs','logs',active,'glyphicon-wrench') }}
</ul>